.social_share_privacy_area.line .mail a {
	display: inline-block;
	width: 35px;
	height: 20px;
	margin-right: 10px;
}
.social_share_privacy_area.box .mail a {
	display: block;
	margin: auto;
	width: 58px;
	height: 39px;
}
