{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
  {{ .Content }}
  <div class="share"
    lang="en"
    data-order="twitter linkedin facebook gplus"
    data-services.twitter.dummy_line_img="images/dummy_twitter.png"
    data-services.linkedin.dummy_line_img="images/dummy_linkedin.png"
    data-services.facebook.dummy_line_img="images/dummy_facebook.png"
    data-services.gplus.dummy_line_img="images/dummy_google-plus.png">
  </div>
</div>
{{ if .Site.Params.socialSharePrivacy -}}
{{- end }}
{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}
