{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
  {{ .Content }}
</div>
{{ if .Site.Params.socialSharePrivacy -}}
<div data-social-share-privacy='true'></div>
{{- end }}
{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
<script type="text/javascript">(function () {var s = document.createElement('script');var t = document.getElementsByTagName('script')[0];s.type = 'text/javascript';s.async = true;s.src = '{{ .Site.BaseURL }}javascripts/jquery.socialshareprivacy.min.autoload.js';t.parentNode.insertBefore(s, t);})();</script>
{{- end }}