  <script type="text/javascript" src="{{ .Site.BaseURL }}javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="{{ .Site.BaseURL }}javascripts/jquery.cookies.js"></script>
  <script type="text/javascript">(function () {var s = document.createElement('script');var t = document.getElementsByTagName('script')[0];s.type = 'text/javascript';s.async = true;s.src = '{{ .Site.BaseURL }}/javascripts/jquery.socialshareprivacy.min.autoload.js';t.parentNode.insertBefore(s, t);})();</script>

